table{
    width: 50%;
    margin: auto;
}

tr:nth-child(even){
    background-color: rgba(211, 211, 211, 0.266);
}

tr:hover{
    background-color: rgba(127, 255, 212, 0.617);

}


table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 12px;
    text-align: center;
}