
form{
    max-width: 420px;
    width: 100%;
    margin: auto;
    background-color: rgba(211, 211, 211, 0.134);
}

div >label{
    display: block;
    margin-top: 12px;
    margin-bottom: 2px;
    font-weight: 600;
}

input[type="text"], input[type="email"], input[type="password"],   
input[type="date"] {
    max-width: 300px;
    width: 100%;
    padding: 12px;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
}

input[type="submit"], input[type="button"]{ 
    height: 30px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.164);
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 16px;
}



